.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.studyName {
  color: var(--font-black);
  font-size: 2rem;
  font-weight: 800;
  white-space: nowrap;
}

.btnGroup {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.goToPageBtn {
  width: 9rem;
  height: 3rem;
  border-radius: 15px;
  border: 1px solid var(--border-line);
  background: #fff;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  color: var(--font-gray);
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.rightArrow {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 744px) and (max-width: 1023px) {
  .btnGroup {
    gap: 0.5rem;
  }
}

@media (max-width: 743px) {
  .Title {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .studyName {
    font-size: 1.5rem;
  }
  .btnGroup {
    gap: 0.5rem;
  }
  .goBtn {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    padding: 0.5rem 0.375rem 0.5rem 0.625rem;
  }
}
