.emojiCard {
  display: inline-flex;
  padding: 0.375rem 0.5rem;
  align-items: center;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.5);
  height: 1.9375rem;
}

.emojiBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.emojiType {
  color: var(--font-black);
  font-size: 1rem;
  font-weight: 500;
  width: 1rem;
  height: 1rem;
}

.emojiCount {
  color: #fff;
  font-weight: 400;
  height: 1.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
