.container {
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  margin: 2.5rem auto;
  max-width: 1200px;
}

@media (min-width: 744px) and (max-width: 1023px) {
  .container {
    padding: 1.5rem;
    margin: 1.5rem;
  }
}

@media (max-width: 743px) {
  .container {
    padding: 1rem;
    margin: 1.25rem 1rem;
    min-height: 660px;
  }
}
