.editModalSize {
  width: 40.5rem;
  height: 23.0625rem;
  display: flex;
  justify-content: center;
}

.editModalTitle {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.editModalBtn {
  width: 37.5rem;
  height: 3.625rem;
  opacity: 1;
  border-radius: 16px;
  padding: 0.625rem;
  background-color: var(--primary-color);
}

.modalContainer {
  position: relative;
}

.exitBtn {
  background-color: #fff;
  color: var(--text-green);
  font-weight: 500;
  font-size: 1rem;
  text-align: right;
  position: absolute;
  top: -51px;
  right: 0;
}

.description {
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--font-gray);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  font-weight: 600;
  font-size: 1.125rem;
  text-align: left;
  margin-bottom: 1rem;
}

.pwInput {
  border: 1px solid var(--border-line);
  /* width: 37.5rem; */
  height: 3rem;
  border-radius: 15px;
  padding: 0.75rem 1.25rem;
  width: 100%;
  margin: 0 auto;
}

.eyesIcon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 20px;
  bottom: 12px;
}

@media (max-width: 743px) {
  .editModalSize {
    min-width: 344px;
    margin: 1.5rem 1rem;
    height: 21.3125rem;
    display: flex;
    justify-content: center;
  }

  .editModalTitle {
    font-size: 1.125rem;
  }

  .editModalBtn {
    width: 100%;
    height: 3.625rem;
    opacity: 1;
    border-radius: 16px;
    padding: 0.625rem;
    background-color: var(--primary-color);
  }

  .exitBtn {
    display: none;
  }

  .description {
    font-size: 1.125rem;
  }

  .pwInput {
    margin: 0 auto;
  }
}
