.customSelect {
  position: relative;
  display: inline-block;
  z-index: 999;
}

.selectBtn {
  width: 8rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border-line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 11.25rem;
  height: 2.625rem;
  border-radius: 0.9375rem;
  gap: 10px;
  padding: 0.5625rem 1.25rem;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  background-color: #fff;
  color: var(--font-gray);
}

.selectIcon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
}

.optionList {
  position: absolute;
  width: 11.25rem;
  height: 10.5rem;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--border-line);
  border-radius: 0.9375rem;
  margin-top: 8px;
  z-index: 10;
  background-color: #fff;
}

.option {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  height: 2.625rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-line);
}

.option:last-child {
  border-bottom: none;
}
