@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'EF_jejudoldam';
  font-weight: 400;
  src: url('/fonts/EF_jejudoldam.woff') format('woff');
}

:root {
  --primary-color: #99c08e;
  --primary-bg-green: #f6f4ef;

  --font-black: #414141;
  --font-gray: #818181;
  --border-line: #dddddd;
  --bg-silver: #eeeeee;

  --error-red: #c41013;
  --red-f5: #f50e0e;
  --error-red_bg: #ffa3a5;

  --card--green: #e1edde;
  --card--yellow: #fff1cc;
  --card--blue: #e0f1f5;
  --card--pink: #fde0e9;

  --text-green: #578246;
  --text-yellow: #c18e1b;
  --text-blue: #418099;
  --text-pink: #bc3c6a;
}

body {
  margin: 0;
  font-family: 'Pretendard', system-ui;
  background-color: var(--primary-bg-green);
  color: var(--font-black);
  line-height: 100%;
}

button,
input,
textarea {
  font: inherit;
  border: none;
}

* {
  box-sizing: border-box;
}
