@font-face {
  font-family: 'EF_JejuDoldam';
  src: url('/fonts/EF_jejudoldam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  border-radius: 16px;
  padding: 40px 24px;
  width: 648px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  font-family: 'Pretendard', sans-serif;
}

.editCloseBtn {
  background-color: #fff;
  color: var(--text-green);
  width: 9.25rem;
  height: 1.8125rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.mobileCloseBtn {
  display: none;
}

@media (max-width: 767px) {
  .modal {
    width: 344px;
    padding: 20px;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;

  color: #333;
}

.message {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
}

.btnBox {
  display: flex;
  justify-content: center;
}

.closeBtn {
  background: #99c08e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'EF_JejuDoldam', sans-serif;
}

@media (max-width: 743px) {
  .btnBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .closeBtn {
    padding: 10px 20px;
    border-radius: 8px;
  }

  .mobileCloseBtn {
    display: flex;
  }
}
