.description {
  display: flex;
  width: 312px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  max-width: 70rem;
  margin-bottom: 1.5rem;
}

.title {
  color: var(--font-gray);
  font-weight: 400;
}
.text {
  color: var(--font-black);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.625rem;
}
