.getPoint {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 70rem;
  gap: 0.5rem;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.title {
  color: var(--font-gray);
  font-weight: 400;
}

.pointBox {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.25rem;
  color: var(--font-black);
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
}

.leaf {
  display: flex;
  width: 19px;
  height: 19px;
  padding: 0.226px 1.336px;
  justify-content: center;
  align-items: center;
}
