.title {
  font-weight: 800;
  font-size: 1.5rem;
  width: 100%;
}

.container {
  display: flex;
  height: 382p;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  height: 382px;
}

.studyCardSection {
  display: flex;
  height: 15.1875rem;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
}

.noDataScript {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-gray);
  font-weight: 500;
  font-size: 1.25rem;
}

@media (min-width: 744px) and (max-width: 1023px) {
  .container {
    padding: 2.25rem;
  }
}

@media (max-width: 743px) {
  .container {
    padding: 1.5rem;
    /* margin: 1.25rem 1rem; */
    min-height: auto;
    min-width: 21.5rem;
  }
  .title {
    font-size: 1rem;
  }
}
