.header {
  width: 100%;
  max-width: 1920px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 11.375rem;
  height: 3.75rem;
  margin: 1.25rem 0 1.25rem 13.75rem;
}

.makeStudyBtn {
  min-width: 232px;
  height: 58px;
  padding: 10px;
  margin: 1.3125rem 13.75rem 1.3125rem 0;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-family: EF_jejudoldam;
  font-size: 1.125rem;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .logo {
    /* margin: 1.25rem 0 1.25rem 1.5rem; */
  }
  .makeStudyBtn {
    min-width: 252px;
  }
}

@media (min-width: 744px) and (max-width: 1023px) {
  .logo {
    margin: 1.25rem 0 1.25rem 1.5rem;
  }
  .makeStudyBtn {
    margin: 1.25rem 1.5rem 1.25rem 0;
    min-width: 160px;
  }
}

@media (max-width: 743px) {
  .logo {
    margin: 2rem 0 2rem 1rem;
    width: 106px;
    height: 35.021px;
  }
  .makeStudyBtn {
    min-width: 106px;
    height: 38px;
    margin: 2rem 1rem 2rem 0;
    color: #fff;
    font-size: 11.925px;
    font-weight: 400;
  }
}
