.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.emojiGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.emoji {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
  position: relative;
}

.emojiModal {
  display: inline-flex;
  padding: 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 15px;
  border: 1px solid var(--border-line);
  background: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  top: calc(100% + 4px);
  left: -1rem;
  z-index: 100;
  min-width: 13.625rem;
}

.emojiModalContent {
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.25rem;
  position: relative;
}

.moreShowBtn {
  display: flex;
  padding: 0.375rem 0.5rem;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.plus {
  width: 1rem;
  height: 1rem;
}

.addBtn {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  gap: 5px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.smile {
  width: 18px;
  height: 18px;
}

.actionBtn,
.shareBtn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;
  color: var(--text-green);
  text-align: center;
  font-weight: 500;
  background-color: #fff;
}

.actionBtnTitle {
  cursor: pointer;
}

.line {
  cursor: default;
}

.deleteBtn {
  color: var(--font-gray);
  cursor: pointer;
}

.headerEditBtn,
.headerDeleteBtn {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1rem;
  color: var(--text-green);
  text-align: center;
  font-weight: 500;
  background-color: #fff;
}

.headerDeleteBtn {
  color: var(--font-gray);
}

@media (max-width: 743px) {
  .header {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 1rem;
  }

  .actionBtn {
    display: inline-flex;
    gap: 0.5rem;
    font-size: 12px;
  }
}
